body {
	font-family: 'Oxygen Mono', monospace;

}
.navbar-nav {
	margin-top: 0px;
}
.navbar-collapse {
	border-top: 0px;
}
.pageText {
	background-color: darkgray;
}
.navbar-header a:hover, .navbar-brand a:focus {
	text-decoration : none;
}
.navbar-header {
	/*border: 1px solid black;*/
	height: 92px;
}
.navbar-header h1 {
	color: black;
}
#header-nav {
	background-color: darkgray;
	border: 1px solid #000000;
	border-radius: 0px;
}

.navbar-toggle {
	margin-top: 0px;
}
.navbar-header button.navbar-toggle.collapsed {
	clear: both;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000000;
}
.menu-item {
	border: 1px solid black;
	background-color: white;
	text-align: center;

}
.menu-item-middle {
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: white;
	text-align: center;
}
.mylist {
	margin-bottom: 0px;
}
.page-title {
	width: 70%;
	display: inline;
	padding-left: 30px;
}
.page-title-box {
	margin-top: 25px;
}
.menu-item-text {
	line-height: 2.5;
	font-weight: bold;
}
.container h2 {
	margin-top: 0px;
	padding-bottom: 20px;
}